DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASS=your_database_password

JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRATION=jwt_access_token_expiration
JWT_REFRESH_EXPIRATION=jwt_refresh_token_expiration

ENCRYPTION_KEY=your_encryption_key

KEYSTORE_PASSWORD=your_keystore_password
KEYSTORE_ALIAS=your_keystore_alias

LOGGING_MODE=logging_mode_OFF_for_prod
AUTH_MODE=auth_logging_mode_OFF_for_prod

MESSAGE_MODE=message_mode_never_for_prod